
ion-icon{
  font-size: 30px;
  padding: 10px;
  margin-right: 10px;
}

ion-icon:hover{
  color: yellow;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #b0bec5, #78909c); /* Gradient gray for cloudy */
}

.weather-card h2 {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #333;
}

.weather-card p {
  margin: 4px 0;
  font-size: 1.1em;
  color: #555;
}

.weather-card img {
  display: block;
  margin: 16px auto;
  max-width: 100px;
}

.favorites h2{
  padding: 3px;
  margin-bottom: 10px 0;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current h2{
  padding: 3px;
  margin-bottom: 20px 0;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
