
ion-icon{
  font-size: 30px;
  padding: 10px;
  margin-right: 10px;
}

ion-icon:hover{
  color: yellow;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #b0bec5, #78909c); /* Gradient gray for cloudy */
}

.weather-card h2 {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #333;
}

.weather-card p {
  margin: 4px 0;
  font-size: 1.1em;
  color: #555;
}

.weather-card img {
  display: block;
  margin: 16px auto;
  max-width: 100px;
}

.favorites h2{
  padding: 3px;
  margin-bottom: 10px 0;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.favorites ion-button{
  padding-left: 2px;
}

.current h2{
  padding: 3px;
  margin-bottom: 20px 0;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-button {
  margin-left: auto;
  margin-bottom: 10px;
}

.hourly-forecast {
  margin-top: 16px;
  overflow-x: auto;
  white-space: nowrap; /* Important for horizontal layout */
  padding-bottom: 8px;
}

.hourly-weather {
  display: inline-block; /* Key change */
  vertical-align: top;
  min-width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #4f5254, #05354d);
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px; /* Space between items */
}

.hourly-weather p{
  color: #ccc;
}
